<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<p>you are receiving this mail because you requested a password reset for your user account</p>
<p>Please go to the following page and set the new password</p>
<a href="http://127.0.0.1:8000/flightapp/renew/{{id}} ">Click here</a>
<p>your username in case you've forgotten : {{email}}</p><br>
<p>Thanks for using our site</p>


</body>
</html>